OPENAI_API_KEY=
DB_URL=
DB_USER=
DB_PASSWORD=
KAKAO_CLIENT_ID=
KAKAO_SECRET=
GRANT_TYPE=
NAVER_CLIENT_ID=
NAVER_SECRET=
REDIRECT_URI=
REDIS_HOST=
REDIS_PORT=
APP_FRONT_URL=
KWAKAI_BASE_URL=
JWT_SECRET=
FINNHUB_API_KEY=
REDIS_PASSWORD=
PORTAL_URI=
SURVEY_URI=
ADVISOR_URI=
MARKET_URI=
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
